<!DOCTYPE html>
<html>
<!--Loading external style sheets in header-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Student-Quiz Questions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css')}}">
</head>

<body style="color: rgb(0,0,0);">
    <div class="container-fluid fill">
        <div class="row" id="container-row">
            <div class="col-lg-3 border-right left-main-column">
                <div class="row mt-5" id="points-row">
                    <div class="col">
                        <!--Points and streak display-->
                        <h1 class="display-4 font-italic" id="points-h1">0</h1>
                        <p>Points</p>
                    </div>
                    <div class="col">
                        <h1 class="display-4 font-italic" id="streak-h1">0</h1>
                        <p>Streak</p>
                    </div>
                </div>
                <div class="row mt-3" id="words-answered-row">
                    <div class="col" id="words-answered-col">
                        <p id="words-answered-p">Words answered (0)</p>
                    </div>
                </div>
            </div>
            <div class="col right-main-column">
                <div class="row" id="timer-row">
                    <div class="col">
                        <!--Timer object-->
                        <div id="timer-box" class="border border-dark mx-auto text-center"></div>
                    </div>
                </div>
                <div class="row border-bottom align-items-end" id="hint-and-answer-row">
                    <div class="col col-md-8">
                        <!--Input field for answers. External JS scripts handle the answer checking and quiz functionality-->
                        <input type="text" id="hint-and-answer-input" placeholder="{{ questions_arr[0].Hint}}" spellcheck="false" autofocus="" value="" autocomplete="off">

                    </div>
                    <!--Skip button-->
                    <div class="col"><button class="btn" id="skip-btn">Skip</button></div>
                    <div class="help-tip">
                      <p>Start typing to guess the word that best matches the definition or question shown below.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <hr class="my-0 ml-0" id="hint-hr" style="height:2px;">
                    </div>
                </div>
                <div class="row my-3" id="question-row">
                    <div class="col">
                        <!--Question text, taken from the first item of the questions_arr array. This value will be iterated via external JS script to show the next question-->
                        <p class="my-0 question-text" id="question-text">{{ questions_arr[0].Question}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='assets/js/bs-init.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/maintain focus on answer input area.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/timer.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/checkAnswer.js')}}"></script>
    <script>
        var questions_JSON = {{questions_arr | tojson | safe}};
        var topic_name = "{{ topic_name }}";

        $('#hint-and-answer-input').on("input", function() {
            checkAnswer(this.value, questions_JSON);
            hintLine(this.value, questions_JSON);
        });
    </script>
</body>

</html>
