<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Change password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css')}}">
</head>

<body style="color: rgb(0,0,0);">
    <div class="container-fluid fill">
        <div class="row">
            <div class="col-lg-3 border-right left-main-column">
              <nav class="navbar navbar-light d-xl-flex justify-content-xl-start mt-5">
                <div class="container-fluid d-flex flex-column p-0">
                  <h2 class="text-center mt-3" style="font-weight: bold;font-size: 35px;">Settings</h2>
                  <a class="text-center nav-item nav-link" href="{{ url_for('main.selectTopics') }}">Select topics</a>

                  <a class="text-center nav-item nav-link" href="{{ url_for('main.classScores') }}">Class scores</a>

                  <a
                  class="text-center nav-item nav-link" href="{{ url_for('main.manageStudents') }}">Manage students</a>

                  <a class="text-center nav-item nav-link current-page" href="{{ url_for('main.changePassword') }}">Change password</a>

                  <a class="text-center nav-item nav-link" href="{{ url_for('main.logout') }}">Log out</a>

                </div>
              </nav>
            </div>
            <div class="col right-main-column">
                <div class="row border-bottom">
                    <div class="col">
                        <h1 class="mt-5 main-heading">Welcome, Admin!</h1>
                    </div>
                </div>
                <h2 class="text-left mt-3" style="font-weight: bold;font-size: 35px;">Change password</h2>
                <div class="row my-3">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <form id="change-password-form">
                                    <div class="form-group" id="current-password--form-group"><input class="form-control" type="text" id="current-password-input" placeholder="current password" required=""></div>
                                    <div class="form-group" id="new-password-input-group"><input class="form-control" type="text" id="new-password-input" placeholder="new password" required="">
                                        <div><button class="btn ml-0" id="change-password-confirm-btn" type="submit">Confirm</button></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='assets/js/bs-init.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/maintain focus on answer input area.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/timer.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/topic button.js')}}"></script>
</body>

</html>
