<!DOCTYPE html>
<html>
<!--Loading external style sheets in the header-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TYPEit Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css')}}">
</head>

<body style="color: rgb(0,0,0);">
    <div class="container-fluid fill">
        <div class="row">
            <div class="col-lg-3 border-right left-main-column"></div>
            <div class="col right-main-column">
                <div class="row border-bottom">
                    <div class="col">
                        <h1 class="mt-5 main-heading">TYPEit</h1>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <!--Feedback message for player depending on the error message passed to this page via route-->

                        {% if message %}
                        <div class="alert alert-warning" id="username_invalid" role="alert" style="display: inline-block">
                            {{ message }}
                        </div>
                        {% endif %}
                        <h2 class="text-left mt-3 main-heading" style="font-size: 35px;">Register</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <!--Forms for user input of username and password for registration-->
                        <form id="register-form" method='POST' action="{{ url_for('auth.register') }}">
                            <div class="form-group" id="username-form-group">
                                <input class="form-control" type="text" id="username-input" name="username" placeholder="username" required>
                            </div>
                            <div class="form-group" id="password-input-group">
                                <input class="form-control" type="password" id="password-input" name="password" placeholder="password" required>
                            </div>
                            <button class="btn ml-0" id="register-btn" type="submit">Register</button>
                            <a href="{{ url_for('auth.login') }}" class="btn ml-0" id="log-in-register-btn">Log in</a>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <footer class="fixed-bottom">
          <p class="mr-2" style="font-size: 0.5em; position:absolute; bottom:0; right:0;">Authors: Akhil Naseem, Varun Jain, Lance Chew</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='assets/js/bs-init.js')}}"></script>
</body>

</html>
