.main-heading {
  font-weight: bold;
  font-size: 60px;
}

.nav-item {
  color: rgb(0,0,0);
}

.fill {
  min-height: 100%;
  overflow: hidden;
}

.left-main-column, .right-main-column {
  margin-bottom: -9999px;
  padding-bottom: 9999px;
}

html, body {
  height: 100%;
  font-size: 25px;
  color: rgb(0,0,0);
  font-family: Montserrat, sans-serif;
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #1cc88a;
  border-color: #1cc88a;
}

.btn-outline-danger {
  text-decoration: line-through;
}

.btn-outline-danger:hover {
  color: #1cc88a;
  background-color: transparent;
  border-color: #1cc88a;
  border-width: 3px;
}

.btn-outline-danger:not(:disabled):not(.disabled).active, .btn-outline-danger:not(:disabled):not(.disabled):active, .show > .btn-outline-danger.dropdown-toggle {
  color: #e74a3b;
  background-color: transparent;
  border-color: #e74a3b;
}

.nav-link:hover, .current-page {
  text-decoration: underline;
  color: black;
}

.class-scores-row td:not(:first-child) {
  font-size: 2em;
  font-weight: bolder;
}

.topic-btn, #log-in-btn, #register-btn, #log-in-register-btn, #skip-btn, #change-password-confirm-btn, #timer-box {
  margin: 20px;
  width: 200px;
  border-width: 3px;
  border-radius: 35px;
}

#play-again-btn {
  font-size: 1.4rem;
  width: 300px;
  border-width: 3px;
  border-radius: 35px;
}

#log-in-btn, #register-btn, #log-in-register-btn, #skip-btn, #username-input, #password-input, #current-password-input, #new-password-input, #change-password-confirm-btn, #timer-box {
  border-color: black;
  color: black;
  border-width: 1px;
  max-width: 500px;
}

#log-in-btn:hover, #register-btn:hover, #log-in-register-btn:hover, #skip-btn:hover, #change-password-confirm-btn:hover {
  color: #1cc88a;
  background-color: transparent;
  border-color: #1cc88a;
  border-width: 2px;
}

button:focus, .btn.focus, .btn:focus {
  outline: none;
  box-shadow: none;
}

.form-control:focus {
  box-shadow: 0 0 0 .2rem rgba(154,154,154,0.25);
}

.table {
  margin-bottom: 0;
  color: black;
}

#manage-students-table > table {
  width: auto;
}

#hint-and-answer-input {
  line-height: 0;
  border-style: none;
  outline: none;
  font-size: 3em;
  font-weight: 700;
}

.question-text {
  font-family: Helvetica;
  font-size: 1.4em;
  font-family: initial;
  font-weight: 300;
}

.student-switch {
  position: relative;
  width: 49px;
  -webkit-student-select: none;
  -moz-student-select: none;
  -ms-student-select: none;
}

.student-switch-checkbox {
  display: none;
}

.student-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 25px;
  padding: 0;
  line-height: 25px;
  border: 2px solid #E3E3E3;
  border-radius: 25px;
  background-color: #E74A3B;
  transition: background-color 0.3s ease-in;
}

.student-switch-label:before {
  content: "";
  display: block;
  width: 25px;
  margin: 0px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 22px;
  border: 2px solid #E3E3E3;
  border-radius: 25px;
  transition: all 0.3s ease-in 0s;
}

.student-switch-checkbox:checked + .student-switch-label {
  background-color: #1CC88A;
}

.student-switch-checkbox:checked + .student-switch-label, .student-switch-checkbox:checked + .student-switch-label:before {
  border-color: #1CC88A;
}

.student-switch-checkbox:checked + .student-switch-label:before {
  right: 0px;
}


.help-tip{
	position: absolute;
	top: 18px;
	right: 18px;
	text-align: center;
	background-color: #BCDBEA;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-size: 24px;
	line-height: 42px;
	cursor: default;
}

.help-tip:before{
	content:'?';
	font-weight: bold;
	color:#FFFFFF;
}

.help-tip:hover p{
	display:block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{
	display: none;
	text-align: left;
	background-color: #1E2021;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	right: -4px;
	color: #FFF;
	font-size: 13px;
	line-height: 1.4;
}

.help-tip p:before{
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#1E2021;
	right:10px;
	top:-12px;
}

.help-tip p:after{
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity:0;
		transform: scale(0.6);
	}

	100% {
		opacity:100%;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:100%; }
}
