<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Student-My Scores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css')}}">
</head>

<body style="color: rgb(0,0,0);">
    <div class="container-fluid fill">
        <div class="row">
            <div class="col-lg-3 border-right left-main-column">
              <nav class="navbar navbar-light d-xl-flex justify-content-xl-start mt-5">
                <div class="container-fluid d-flex flex-column p-0">
                  <h2 class="text-center mt-3" style="sans-serif;font-weight: bold;font-size: 35px;">Settings</h2>

                  <a class="text-center nav-item nav-link" href="{{ url_for('main.chooseTestTopic') }}">Test topics</a>

                  <a class="text-center nav-item nav-link current-page" href="{{ url_for('main.myScores') }}">My scores</a>

                  <a class="text-center nav-item nav-link" href="{{ url_for('main.changePassword') }}">Change password</a>

                  <a class="text-center nav-item nav-link" href="{{ url_for('auth.login') }}">Log out</a>
                </div>
              </nav>
            </div>
            <div class="col right-main-column">
                <div class="row border-bottom">
                    <div class="col">
                        <h1 class="mt-5" style="font-weight: bold;font-size: 60px;">Good job, Student 1!</h1>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <h2 class="text-left mt-3" style="font-weight: bold;font-size: 35px;">My scores</h2>
                    </div>
                </div>
                <div class="table-responsive" id="class-scores-table">
                    <table class="table">
                        <thead style="color: rgb(0,0,0);">
                            <tr>
                                <th style="color: rgb(0,0,0);">Topic</th>
                                <th>Best score</th>
                                <th>Class top score</th>
                            </tr>
                        </thead>
                        <tbody style="color: rgb(0,0,0);">
                            <tr class="class-scores-row">
                                <td>Biology</td>
                                <td>219</td>
                                <td>234</td>
                            </tr>
                            <tr class="class-scores-row">
                                <td>English</td>
                                <td>345</td>
                                <td>214</td>
                            </tr>
                            <tr class="class-scores-row">
                                <td>History</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='assets/js/bs-init.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/maintain focus on answer input area.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/timer.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/topic button.js')}}"></script>
</body>

</html>
