{% extends 'base.html' %}
<!--{% include 'add-user.html' %}-->
    
{% block content %}
<div class="col-lg-3 border-right" id="settings-column">
    <nav class="navbar navbar-light d-xl-flex justify-content-xl-start mt-5">
        <div class="container-fluid d-flex flex-column p-0">
            <h2 class="text-center mt-3" style="font-family: Montserrat, sans-serif;font-weight: bold;font-size: 35px;">Settings</h2>
            <a class="text-center nav-item nav-link" href="{{ url_for('topics') }}">Select topics</a>
            <a class="text-center nav-item nav-link" href="{{ url_for('scores') }}">Class scores</a>
            <a class="text-center nav-item nav-link current-page" href="{{ url_for('students') }}">Manage students</a>
            <a class="text-center nav-item nav-link" href="#">Change password</a>
            <a class="text-center nav-item nav-link" href="#">Log out</a></div>
    </nav>
</div>
<div class="col" id="content-column">
    <div class="row border-bottom">
        <div class="col">
            <h1 class="mt-5" style="font-family: Montserrat, sans-serif;font-weight: bold;font-size: 60px;">Welcome, Admin!</h1>
        </div>
       
    </div>
    <div class="row my-3">
        <div class="col">
            <h2 class="text-left mt-3" style="font-family: Montserrat, sans-serif;font-weight: bold;font-size: 35px;">Manage students</h2>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Add New User</button>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
                        <div class="table-responsive table-bordered flex-shrink-1" id="manage-students-table">
                            <table class="table table table-hover table-dark">
                                <thead style="color: rgb(0,0,0);">
                                    <tr>
                                        <th>User ID</th>
                                        <th>Enable/Disable</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody style="color: rgb(0,0,0);">
                                    
                                    <tr>
                                        <td>Student 1</td>
                                        <td>
                                            <div class="user-switch"><input type="checkbox" id="user1-switch" class="user-switch-checkbox" name="user1-switch" checked=""><label class="user-switch-label" for="user1-switch"></label></div>
                                        </td>
                                        <td><button class="btn btn-danger btn-xs">delete</button></td>
                                    </tr>
                      
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

    {% endblock content %}

